#whatisthis
  %h3 Why did I make this?
  %p
    I love to play GuildWars 2, and one of the more interesting portion of the game is the crafting. Crafting is a lot of fun and I love to experiment to see what will work and what won't. The problem is GuildWars 2 does not give you much room to experiment. Most of the time you either end up looking at wikis and going back and forth between pages or you look at a giant list of items that don't make sense. I wanted to have the fun of learning new recipes while still maintaining the experimental feel.
  %p
    This app is about showing you what recipes work and don't. You can search for different ingredients and see which ones fit the item you're looking for.
