- content_for :title do
  - "Guild Wars 2 Cook Book"


= debug params

#pages
  %body

    / = form_for :ingredient do |f|
    /   = f.label :name, "Ingredient"
    /   = f.text_field :name, :value => ""

    /   = f.submit
